@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  font-family: var(--font-inter), sans-serif;
}

/* Inputs */
.input {
  @apply w-full bg-transparent border-b border-gray-400 py-3
    focus:outline-none focus:border-white transition;
}

/* Navbar animation */
@keyframes navFadeDown {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-entrance {
  animation: navFadeDown 0.6s ease-out forwards;
}
